{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Booking Form</title>
<link rel="stylesheet" href="{% static 'create_booking.css' %}">
</head>
<body>
<div class="container">
    <img class="logo" src="{% static 'appOne/dinosaur.jpeg' %}" alt="Logo" height="90">
    <a href="">Dino</a>
    <h1 class="title">Create Booking</h1>
    <form id="bookingForm" method="POST" action="/create-booking">
        <div>
            <label for="equipment">Equipment:</label>
            <select id="equipment" name="equipment" required>
                <option value="">Select equipment...</option>
                <option value="pc_laptop">PC/Laptop</option>
                <option value="camera_sensors">Camera Sensors</option>
                <option value="vr_headset">VR Headset</option>
                <option value="furniture">Furniture</option>
                <option value="pc_peripheral">PC Peripheral</option>
            </select>
        </div>
        <div>
            <label for="deviceName">Device Name:</label>
            <input type="text" id="deviceName" name="deviceName" required>
        </div>
        <div>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" min="1" required>
        </div>
        <div>
            <label for="availability">Availability:</label>
            <select id="availability" name="availability" required>
                <option value="available">Available</option>
                <option value="unavailable">Unavailable</option>
            </select>
        </div>
        <input type="submit" value="Book">
    </form>
</div>
</body>
</html>




