<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'web/site.css' %}" />
</head>

<body>

    {% include './navbar.html' %}

    <div class="container">
        <h1>Contact Us</h1>

        <div class="row head-row">
            <div class="col-md-6">
                <div class="logo-section">
                    {% load static %}
                    <img src="{% static 'img/logo.png' %}" alt="Company Logo">
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-details">
                    <h2>Contact Details</h2>

                    <p><strong>Address:</strong> 115 New Cavendish Street, London, W1W 6UW</p>
                    <p><strong>Phone:</strong> +44 (0) 20 7911 5000</p>

                    <table class="opening-hours">
                        <tr>
                            <td><strong>Day</strong></td>
                            <td><strong>Opening Hours</strong></td>
                        </tr>
                        <tr>
                            <td>Monday - Friday</td>
                            <td>8:00 AM - 9:00 PM</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>9:00 AM - 6:00 PM</td>
                        </tr>
                        <tr>
                            <td>Sunday</td>
                            <td>Closed</td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>Location</h1>
                <iframe width="1200" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    id="gmap_canvas"
                    src="https://maps.google.com/maps?width=1200&amp;height=300&amp;hl=en&amp;q=115%20New%20Cavendish%20Street%20London+(University%20of%20Westminster%20-%20Cavendish%20Campus)&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                <a href='https://www.acadoo-medizin.com/'>Doktorarbeit Medizin Ghostwriter</a>
                <script type='text/javascript'
                    src='https://embedmaps.com/google-maps-authorization/script.js?id=f64db0dfe8b0f5377fad266be3ef3a6546d923f5'></script>
            </div>
        </div>
    </div>

</body>

</html>