<nav class="navbar">
    <div class="navdiv">
        <div class="logo">
            {% load static %}
            <img src="{% static 'img/logo.png' %}" alt="Logo">
            <a href="#">Dino</a>
        </div>
        <ul>
            <button><a href="#">Home</a></button>
            <button><a href="#">About us</a></button> <button><a href="#">Contact us</a></button>
            <button><a href="#">Sign up</a></button> <button><a href="#">Login</a></button>
        </ul>
    </div>
</nav>